@model Hospital.Models.AccountViewModels.changePassViewModel
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    /*plans tiles*/

    .btn.disabled, .btn:disabled {
        opacity: .65;
    }

    .btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .text-center {
        text-align: center !important;
    }

    .col-md-6, .col-lg-6, .col-xl-6 {
        width: 50%;
        float: left;
        padding: 5px
    }

    .col-md-12, .col-lg-12, .col-xl-12 {
        padding: 5px
    }

    .contactlist {
        list-style: none;
        line-height: 60px;
        margin-top: 20px;
    }

    .aboutcontact {
        font-size: small;
        color: whitesmoke;
        font-family: system-ui;
    }
</style>

@Html.Raw(TempData["msg"])

<header id="Home">

    @Html.Partial("_HeaderPartial")

    <section class="section-testimonials" id="Signin" style="padding-bottom: 70px;">
        <div class="row">
            <h2>Reset-Password</h2>
        </div>
        <div class="row">
            <div class="main_row" style="margin-bottom: 70px;">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <h3>Contact Information</h3>

                    <p class="aboutcontact">Fill up the form and our Team will get back to you within 24 hours.</p>
                    <ul class="contactlist">
                        <li><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp; +0123 4567 8910</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp; hello@nextolive.com</li>
                        <li><i class="fa fa-map-marker" aria-hidden="true">&nbsp;&nbsp; 102 street 2714 Don</i></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <form asp-action="ChangePassword" asp-controller="Account" method="post">
                        @*<div asp-validation-summary="All" class="text-danger validate_text"></div>*@
                        <hr />
                        <div class="row">
                            <input type="hidden" asp-for="Email" value="@ViewBag.changePassEmail" />
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="form-group" data-aos="fade-right">
                                    <label asp-for="Password" class="control-label" style="font-weight: inherit; "></label>
                                    <input type="password" asp-for="Password" class="form-control" />
                                </div>
                                <span asp-validation-for="Password" class="text-danger validate_text"></span>
                            </div>
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="form-group" data-aos="fade-left">
                                    <label asp-for="ConfirmPassword" class="control-label" style=" font-weight: inherit;"></label>
                                    <input type="password" asp-for="ConfirmPassword" class="form-control" />
                                </div>
                                <span asp-validation-for="ConfirmPassword" class="text-danger validate_text"></span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Send</button>
                                </div>
                            </div>
                        </div>

                        <!---test-->
                    </form>
                </div>

            </div>
        </div>
    </section>

    @Html.Partial("_FooterPartial")

<p id="modelvalue" style="display:none;">@ViewBag.PasswordResetSuccess</p>
</header>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>

    $(document).ready(function () {
        
        var data = document.getElementById("modelvalue").innerHTML;
        
        if (data == "1") {
            $("#id01").show();
        }
    });

</script>