@model Hospital.Models.AccountViewModels.ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forge Password";
}
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
    AOS.init();
</script>
<style>

    /*plans tiles*/

    .btn.disabled, .btn:disabled {
        opacity: .65;
    }

    .btn {
        display: inline-block;
        font-weight: 400;
        text-align: center;
        white-space: nowrap;
        vertical-align: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        border: 1px solid transparent;
        padding: .375rem .75rem;
        font-size: 1rem;
        line-height: 1.5;
        border-radius: .25rem;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

    .text-center {
        text-align: center !important;
    }

    .col-md-6, .col-lg-6, .col-xl-6 {
        width: 50%;
        float: left;
        padding: 5px
    }

    .col-md-12, .col-lg-12, .col-xl-12 {
        padding: 5px
    }

    .contactlist {
        list-style: none;
        line-height: 60px;
        margin-top: 20px;
    }

    .aboutcontact {
        font-size: small;
        color: whitesmoke;
        font-family: system-ui;
    }

    .sign_btn {
        color: deepskyblue !important;
        font-family: ui-monospace;
        font-size: large;
        font-weight: 600;
        letter-spacing: 1px;
        cursor: pointer;
    }
</style>

@Html.Raw(TempData["msg"])

<header id="Home">

    @Html.Partial("_HeaderPartial")

    <section class="section-testimonials" id="Signin" style="padding-bottom: 70px;">
        <div class="row">
            <h2>Forgot Password?</h2>
        </div>
        <div class="row">
            <div class="main_row" style="margin-bottom: 70px;">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <h3>Contact Information</h3>

                    <p class="aboutcontact">Fill up the form and our Team will get back to you within 24 hours.</p>
                    <ul class="contactlist">
                        <li><i class="fa fa-phone" aria-hidden="true"></i>&nbsp;&nbsp; +0123 4567 8910</li>
                        <li><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;&nbsp; hello@nextolive.com</li>
                        <li><i class="fa fa-map-marker" aria-hidden="true">&nbsp;&nbsp; 102 street 2714 Don</i></li>
                    </ul>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                    <form asp-route-returnUrl="@ViewData["ReturnUrl"]" method="post">
                        @*<div asp-validation-summary="All" class="text-danger validate_text"></div>*@
                        <p>No worries! Just enter your email and we'll send you a reset password link.</p>

                        <hr />
                        <br />
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="form-group" data-aos="fade-right">
                                    <label asp-for="Email" class="control-label" style="font-weight: inherit;"></label>
                                    <input asp-for="Email" class="form-control" />
                                </div>
                                <span asp-validation-for="Email" class="text-danger validate_text"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success">Send</button>
                                </div>
                            </div>
                        </div>
                        <div style="text-align:center; margin-top:15px;">
                            <p>Just remembered?</p>
                            <a onclick="document.getElementById('id01').style.display='block'" class="sign_btn">Sign In</a>
                        </div>
                        <!---test-->
                    </form>
                </div>

            </div>
        </div>
    </section>

    @Html.Partial("_FooterPartial")


</header>

<p id="modelvalue" style="display:none;">@ViewBag.OtpSendSuccess</p>
<p id="modelvalue2" style="display:none;">@ViewBag.WrongOtp</p>

<center>
    <div id="id03" class="modal fade" style="overflow: hidden;">
        <div class="modal-dialog" style="width: 50%;">

            <form class="modal-content animate" asp-action="CheckOTP" asp-controller="Account" method="post">
                <div class="imgcontainer">
                    <span onclick="document.getElementById('id03').style.display='none'" class="close" title="Close Modal">&times;</span>
                    <h2>Enter OTP</h2>
                    <p style="font-size: medium; padding: 0px 20px; color: darkgray;">The OTP (One Time Password) has been send to <span style="color: #04AA6D;">@ViewBag.EmailForOTP</span>. Please enter the OTP in the field below to verify your email.</p>
                </div>

                <input type="hidden" asp-for="Email" value="@ViewBag.EmailForOTP" />
                <div class="container" style="text-align: left;">
                    <div class="form-group">
                        <input type="text" asp-for="OTP" style="text-align: center; letter-spacing: 10px;" placeholder="Enter OTP" class="form-control" onkeyup="this.value=this.value.replace(/[^\d]/,'')" required>
                        <span class="text-danger validate_text wrongOtp" style="display:none;">OTP not correct</span>
                    </div>
                    <br />
                    <button type="submit" style="padding:14px 0px; border-radius: 5px;">Login</button>



                </div>

            </form>
        </div>

    </div>
</center>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $(document).ready(function () {
        
        var data = document.getElementById("modelvalue").innerHTML;
        var data2 = document.getElementById("modelvalue2").innerHTML;
        if (data == "1" || data2 == "0") {
            $("#id03").show();
        }
        if (data2 == "0") {
            $(".wrongOtp").show();
        }
    });

</script>