@model Hospital.Models.SubAdmin.Appointments

@{
    ViewData["Title"] = "AddAppointment";
    Layout = "~/Views/Shared/_HospitalAdminLayout.cshtml";
}
@section scripts{
    <script src="~/admin/js/pages/HospitalAdmin/AddPatients.js"></script>
    <script src="~/assets/js/main.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
}
<style>
    .selectize-input.focus {
        border: 1px solid #086972!important;
    }
</style>
<link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
<link rel="stylesheet" href="~/assets/css/form_wizard_css.css" />

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/HospitalAdmin/index" class="main_page">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add Appointment</li>

    </ol>
</nav>
<div class="content">
    <div class="row">
        <div class="col-lg-12 offset-lg-12">
            <h4 class="page-title page-title_main">Add Appointment</h4>
        </div>
    </div>
    <div class="image-container set-full-height">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 wizard_box">
                    <!-- Wizard container -->
                    <div class="wizard-container">
                        <div class="card wizard-card" data-color="red" id="wizard">
                            <form asp-action="AddAppointment">

                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <!--        You can switch " data-color="blue" "  with one of the next bright colors: "green", "orange", "red", "purple"             -->
                                <div class="wizard-navigation">
                                    <ul>
                                        <li><a href="#details" data-toggle="tab">Appointment Detail</a></li>
                                        <li><a href="#purpose" data-toggle="tab">Purpose</a></li>

                                    </ul>
                                </div>

                                <div class="tab-content">

                                    <div class="tab-pane" id="details">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h4 class="info-text">Appointment Detail</h4>
                                            </div>
                                        </div>
                                        <div class="row">

                                            <div class="col-sm-6">
                                                <div class="form-group label-floating">
                                                    @if (ViewBag.patientID != null)
                                                    {
                                                        <label asp-for="PatientId" class="control-label"></label>
                                                        <input asp-for="PatientId" value="@ViewBag.patientID.PatientID" class="form-control" readonly />
                                                    }
                                                    else
                                                    {
                                                        <label class="control-label">Patient Name</label>
                                                        <select asp-for="PatientId" placeholder="Pick a state...">
                                                            @foreach (var item in ViewBag.patientIDWithName)
                                                            {
                                                                <option value="@item.PatientID">@item.PatientName<span style="float:right !important; font-size:small"> (@item.PatientID)</span></option>
                                                            }
                                                        </select>


                                                    }
                                                </div>
                                            </div>
                                            @*<div class="col-sm-6">
            <div class="form-group label-floating">
                <label asp-for="DoctorName" class="control-label"></label>
                <select asp-for="DoctorID" class="form-control" style="text-transform:uppercase;">
                    <option value="">Select Doctor</option>
                    @foreach (var item in ViewBag.AllDoctors)
                    {
                        <option value="@item.Id">@item.FirstName @item.LastName</option>
                    }
                </select>
                <span asp-validation-for="DoctorID" class="text-danger"></span>
            </div>
        </div>*@

                                            <!--select doctor code start-->

                                            <div class="col-sm-6">
                                                <div class="form-group label-floating">
                                                    <label asp-for="DoctorName" class="control-label"></label>
                                                    <select asp-for="DoctorID" style="text-transform:uppercase;">
                                                        <option value="">Select Doctor</option>
                                                        @foreach (var item in ViewBag.AllDoctors)
                                                        {
                                                            <option value="@item.Id">@item.FirstName @item.LastName</option>
                                                        }
                                                    </select>
                                                    <span asp-validation-for="DoctorID" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <!----select doctor code end-->


                                            <div class="col-sm-6">
                                                <div class="form-group label-floating">
                                                    <label asp-for="Department" class="control-label"></label>
                                                    <select asp-for="Department"style="text-transform:uppercase;">
                                                        @foreach (var item in ViewBag.Department)
                                                        {
                                                            <option value="">Select Department</option>
                                                            <option value="@item.DepartmentID">@item.DepartmentName</option>
                                                        }
                                                    </select>
                                                    <span asp-validation-for="Department" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group label-floating">
                                                    <label asp-for="TokenNumber" class="control-label"></label>
                                                    <input asp-for="TokenNumber" value="@ViewBag.TokenNo" class="form-control" />
                                                    <span asp-validation-for="TokenNumber" class="text-danger"></span>
                                                </div>
                                            </div>

                                        </div>

                                    </div>




                                    <div class="tab-pane" id="purpose">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                <h4 class="info-text">Purpose</h4>
                                            </div>

                                            <div class="col-sm-12">
                                                <div class="form-group label-floating">
                                                    <label asp-for="Problem" class="control-label"></label>
                                                    <textarea asp-for="Problem" class="form-control"></textarea>
                                                    <span asp-validation-for="Problem" class="text-danger"></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <div class="form-group label-floating">
                                                    <label asp-for="AppointmentDate" class="control-label"></label>
                                                    <input type="date" asp-for="AppointmentDate" class="form-control" />
                                                    <span asp-validation-for="AppointmentDate" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group label-floating">
                                                    <label asp-for="TimeSlot" class="control-label"></label>
                                                    <input type="time" asp-for="TimeSlot" class="form-control" />
                                                    <span asp-validation-for="TimeSlot" class="text-danger"></span>
                                                </div>
                                            </div>

                                            <div class="col-sm-6">
                                                <div class="form-group label-floating">

                                                    <label asp-for="AppointmentStatus" class="control-label float-left"></label>&nbsp;
                                                    <div class="form-check form-check-inline">
                                                        <input asp-for="AppointmentStatus" class="form-check-input" type="radio" id="appointment_Active" value="Active" checked>
                                                        <label class="form-check-label" for="appointment_Active">
                                                            Active
                                                        </label>
                                                    </div>
                                                    <div class="form-check form-check-inline">
                                                        <input asp-for="AppointmentStatus" class="form-check-input" type="radio" id="appointment_InActive" value="IsActive">
                                                        <label class="form-check-label" for="appointment_IsActive">
                                                            IsActive
                                                        </label>
                                                    </div>

                                                </div>
                                            </div>


                                        </div>
                                    </div>




                                </div>
                                <div class="wizard-footer">
                                    <div class="pull-right">

                                        <input type='button' class='btn btn-next btn-fill btn-wd' name='next' value='Next' />
                                        @*<input type='button' class='btn btn-finish btn-fill btn-danger btn-wd' name='finish' value='Finish' />*@
                                        <button class="btn btn-finish btn-fill btn-wd btn btn-success submit-btn">Add Appointment</button>
                                    </div>
                                    <div class="pull-left">
                                        <input type='button' class='btn btn-previous btn-fill btn-default btn-wd' name='previous' value='Previous' />
                                    </div>
                                    <div class="clearfix"></div>
                                </div>
                            </form>
                        </div>
                    </div> <!-- wizard container -->
                </div>
            </div> <!-- row -->
        </div> <!--  big container -->

    </div>




    @*<div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form asp-action="AddAppointment">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">

                                @if (ViewBag.patientID != null)
                                {
                                    <label asp-for="PatientId" class="control-label"></label>
                                    <input asp-for="PatientId" value="@ViewBag.patientID.PatientID" class="form-control" readonly />
                                }
                                else
                                {
                                    <label class="control-label">Patient Name</label>
                                    <select asp-for="PatientId" placeholder="Pick a state...">
                                        @foreach (var item in ViewBag.patientIDWithName)
                                        {
                                            <option value="@item.PatientID">@item.PatientName<span style="float:right !important; font-size:small"> (@item.PatientID)</span></option>
                                        }
                                    </select>


                                }

                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">

                                @if (ViewBag.patientID != null)
                                {
                                    <label class="control-label">Patient Name</label>
                                    <input asp-for="PatientName" value="@ViewBag.patientID.PatientName" class="form-control" readonly />
                                }
                                else
                                {




                                }
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label class="control-label">Doctor Name</label>

                                <select asp-for="DoctorID" class="form-control" style="text-transform:uppercase;" required>
                                    <option value="">Select Doctor</option>
                                    @foreach (var item in ViewBag.AllDoctors)
                                    {
                                        <option value="@item.Id">@item.FirstName @item.LastName</option>
                                    }
                                </select>
                                <span asp-validation-for="DoctorID" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="Department" class="control-label"></label>
                                <select asp-for="Department" class="form-control" style="text-transform:uppercase;" required>
                                    @foreach (var item in ViewBag.Department)
                                    {
                                        <option value="">Select Department</option>
                                        <option value="@item.DepartmentID">@item.DepartmentName</option>
                                    }
                                </select>
                                <span asp-validation-for="Department" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="TokenNumber" class="control-label"></label>
                                <input type="number" asp-for="TokenNumber" value="@ViewBag.TokenNo" class="form-control" required />
                                <span asp-validation-for="TokenNumber" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label asp-for="Problem" class="control-label"></label>
                                <textarea asp-for="Problem" class="form-control" required></textarea>
                                <span asp-validation-for="Problem" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="AppointmentDate" class="control-label"></label>
                                <input type="date" asp-for="AppointmentDate" class="form-control" required />
                                <span asp-validation-for="AppointmentDate" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="TimeSlot" class="control-label"></label>
                                <input type="time" asp-for="TimeSlot" class="form-control" required />
                                <span asp-validation-for="TimeSlot" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label asp-for="AppointmentStatus" class="control-label float-left"></label>&nbsp;
                                <div class="form-check form-check-inline">
                                    <input asp-for="AppointmentStatus" class="form-check-input" type="radio" id="appointment_Active" value="Active" checked>
                                    <label class="form-check-label" for="appointment_Active">
                                        Active
                                    </label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input asp-for="AppointmentStatus" class="form-check-input" type="radio" id="appointment_InActive" value="IsActive">
                                    <label class="form-check-label" for="appointment_IsActive">
                                        IsActive
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-t-20 text-center">
                        <button class="btn btn-success submit-btn">Create Appointment</button>
                    </div>
                </form>
            </div>
        </div>*@

</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/js/standalone/selectize.min.js" integrity="sha256-+C0A5Ilqmu4QcSPxrlGpaZxJ04VjsRjKu+G82kl5UJk=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.bootstrap3.min.css" integrity="sha256-ze/OEYGcFbPRmvCnrSeKbRTtjG4vGLHXgOqsyLFTRjg=" crossorigin="anonymous" />


<script>
    $(document).ready(function () {
        $('select').selectize({
            sortField: 'text'
        });
    });
</script>