@model IEnumerable<Hospital.Models.ApplicationUser>

@{
    ViewData["Title"] = "StaffList";
    Layout = "~/Views/Shared/_HospitalAdminLayout.cshtml";
}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


<style>
    tbody tr:hover {
        background: lavender !important;
        cursor: pointer;
    }

    .add_appointment:hover {
        text-decoration: underline;
    }
</style>

@*@Html.Raw(TempData["msg"])*@
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/HospitalAdmin/index" class="main_page">Dashboard</a></li>
        <li class="breadcrumb-item active" aria-current="page">Staff List</li>

    </ol>
</nav>
<div class="content">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h4 class="page-title page-title_main">Staff</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
                <a asp-action="AddStaff" class="btn_custom btn_patient btn btn-success btn-rounded float-right staff_list"><i class="fa fa-plus"></i> Add Staff</a>
                <br />
                <table class="table table-border table-striped custom-table datatable mb-0" id="myTable" style=" margin-top: 10px;">
                    <thead>
                        <tr>
                            <th>
                                <i class="fa fa-user-circle-o" aria-hidden="true"></i> @Html.DisplayNameFor(model => model.FirstName)
                            </th>
                            <th>
                                <i class="fa fa-envelope" aria-hidden="true"></i> @Html.DisplayNameFor(model => model.Email)
                            </th>
                            <th>
                                <i class="fa fa-user-plus" aria-hidden="true"></i> Roles Assigned
                            </th>
                            <th>
                                <i class="fa fa-toggle-on" aria-hidden="true"></i> @Html.DisplayNameFor(model => model.IsActive)
                            </th>
                            <th class="text-center">
                                <i class="fa fa-gavel"></i>  Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.FirstName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Email)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.UserRole)
                                </td>
                                <td>
                                    @if (item.IsActive == true)
                                    {
                                        <span class="custom-badge status-green">
                                            Active
                                        </span>
                                    }
                                    else if (item.IsActive == false)
                                    {
                                        <span class="custom-badge status-red">
                                            InActive
                                        </span>
                                    }
                                </td>
                                <td class="text-center">
                                    <a asp-action="EditStaff" asp-route-id="@item.Id"><i class="fa fa-pencil-square-o" style="font-size: 19px"></i></a> |
                                    @*<a asp-action="StaffDetails" asp-route-id="@item.Id"><i class="fa fa-info-circle m-r-5" style="font-size: 19px; color: lightblue"></i></a> |*@
                                    @*<a asp-controller="HospitalAdmin" asp-action="StaffDelete" asp-route-id="@item.Id" onclick="return confirm('Are you sure want to delete this Staff?')"><i class="fa fa-trash-o m-r-5" style="font-size: 19px; color: red"></i></a>*@
                                    <a onclick="DeleteStaffAction('@item.Id')"><i class="fa fa-trash-o m-r-5" style="font-size: 19px; color: red"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <script>
                    function myFunction() {
                        var input, filter, table, tr, td, i, txtValue;
                        input = document.getElementById("myInput");
                        filter = input.value.toUpperCase();
                        table = document.getElementById("myTable");
                        tr = table.getElementsByTagName("tr");
                        for (i = 0; i < tr.length; i++) {
                            td = tr[i].getElementsByTagName("td")[0];
                            if (td) {
                                txtValue = td.textContent || td.innerText;
                                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                                    tr[i].style.display = "";
                                } else {
                                    tr[i].style.display = "none";
                                }
                            }
                        }
                    }
                </script>
            </div>
        </div>
    </div>
</div>


<script src="~/admin/js/pages/DeleteSweetAlert/All.js"></script>